 
        #finish-button {
            margin-top: 10px;
        }
        #tsp-button {
            margin-top: 10px;
            display: none;
            
        }
        #map {
            width: 100%;
            height: 500px;
            border-radius: 10px;
            border: 1px solid #ddd; 
            margin-bottom: 20px;
            transition: height 0.3s ease;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #969da8; 
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            color: #333;
            margin: 20px 0;
        }

        #map-container {
            width: 80%;
            max-width: 900px;
            margin: 0 auto;
            background-color: #ffffff; 
            border: 2px solid #0f0e0c; 
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            text-align: center;
        }

        #map {
            width: 100%;
            height: 500px;
            border-radius: 10px;
            border: 1px solid #ddd; 
            margin-bottom: 20px;
            transition: height 0.3s ease;
        }

        
        .input-container {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }

        .input-container input {
            flex: 1;
            padding: 10px;
            font-size: 16px;
            border: 2px solid #13120d; 
            border-radius: 5px;
            margin-right: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .input-container button {
            padding: 10px 20px;
            background-color: #969da8; 
            color: #333;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .input-container button:hover {
            background-color: #dae0eb; 
        }

        #point-list, #optimized-route-list {
            list-style: none;
            padding: 0;
            width: 100%;
            text-align: left;
           
        }

        #point-list li, #optimized-route-list li {
            padding: 10px;
            border-bottom: 1px solid #969da8; 
            background-color: #dae0eb; 
            border-radius: 5px;
            margin-bottom: 5px;
            /* border: 2px solid #13120d;  */
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #point-list li button, #optimized-route-list li button, #reset-button {
            padding: 5px 10px;
            background-color: #ef5350; 
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }

        #point-list li button:hover, #optimized-route-list li button:hover {
            background-color: #e53935;  
        }

        #finish-button, #view-optimized-route-button, #reset-button,#tsp-button {
            margin: 20px 0;
            padding: 10px 20px;
            background-color: #969da8; 
            color: #333;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #finish-button:hover, #view-optimized-route-button:hover, #reset-button:hover,tsp-button {
            background-color: #dae0eb; 
        }

        #optimized-route-container {
            width: 100%;
        }

        @media (max-width: 768px) {
            #map-container {
                width: 95%;
                max-width: none;
                padding: 10px;
            }

            #map {
                height: 400px;
            }

            .input-container {
                flex-direction: column;
                align-items: stretch;
            }

            .input-container input {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }